@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url('../../public/Icon/Dashboard.png');
  background-attachment: fixed;

  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background-color: rgb(31 41 55);
  color: rgb(255 255 255);
  padding-top: 8px;
  padding-bottom: 8px;
}

.weatherSection {
  display: grid;
  gap: 32px;
}

@media (min-width: 900px) {
  .weatherSection {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 48px;
  }
}


.main {
  padding-top: 48px;
  padding-bottom: 48px;
  margin: auto;
  width: 80%;
}